body{
    background-color: #080c10;
    margin: 0;
    font-family: "Major Mono Display", serif;
    font-weight: 400;
    font-style: normal;
  
}

.top{
    font-size: 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: black;
    border-radius: 20%;
    cursor: pointer;
    z-index: 1000;
    border: 2px solid wheat;
}

.top > a{
    color: wheat;
    text-decoration: none;
}

/* Navs */

.Navs{
    background-color: #1F2833;
    padding: 10px;
    position: relative;
    border-bottom: 2px solid #66FCF1;
    margin-bottom: 2px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.Navs > ul{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.Types{
    color: #C5C6C7;
    list-style: none;
    font-size: 20px;
    cursor: pointer;
}

.Types:hover{
    text-decoration: underline cyan;
}

.vid{
    height: 70px;
    position: absolute;
    bottom: -20px;
    left: 10px;
}

.Type{
    position: relative;
}

.dis{
    display: flex;
    display: none;
    justify-content: space-around;
    gap: 30px;
    position: absolute;
    top: -10px;
    right: 22px;
    color: white;
}

.dis > li {
    list-style: none;
}

.display{
    /* display: none; */
    position: fixed;
    left: 20px;
    top: 0;
}

.lid{
    height: 50px;
}

.menu,.menu:hover {
    cursor: pointer;
    background: none;
    padding: 0;
    margin: 0;
    border: none;
}

.Not_Type{
    visibility: hidden;
    position: fixed;
    top: -30px;
    right: 0;
    background-color: #1F2833;
    height: 100vh;
    width: 70%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: -10px 0 10px #66FCF1;
    gap: 40px;
    font-size: 30px;
    opacity: 0;
    list-style: none;
    transition: visibility 0s, opacity 0.3s ease;
}


.Lags{
    color: wheat;
    text-decoration: none;
    transition: all 0.3s;
}

.Lags:hover{
    text-decoration: white underline;
    transition: all 0.3s;
}

.Tags{
    color: #66FCF1;
    text-decoration: none;
    transition: all 0.3s;
}

.Tag{
    position: absolute;
    right: 10px;
    color: white;
    cursor: pointer;
    padding: 0;
    margin: 0;
    background: transparent;
    border-bottom: 2px solid #66FCF1;
    transition: all 0.3s;
}

.Tags:hover,.Tag:hover{
    border-bottom: 4px solid #66FCF1;
    scale: 1.5;
    transition: all 0.3s;
}

.Not_Type.show{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s ease;
}

.icons:hover{
    animation: spin 1s ease;
}

.icon:hover{
    animation: scaling 2s ease;
}

.part{
    display: grid;
    grid-template-rows: 600px 600px 600px;
    grid-template-columns:  auto auto;
    gap: 10px;
}

.spare{
    position: relative;
    text-align: center;
    transition: all 1.3s ;
}

.spare:hover{
    opacity: 50%;
    transition: all 1.3s ;
    /* animation: glow 3s ease infinite; */
}

.sell{
    color: white;
    position: absolute;
    top: 2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 1;
}

.sell > .white,.black {
    color: wheat;
    font-size: 40px;
    margin-bottom: 0;
}

.black{
    color: black;
    margin-bottom: 0;
}

.sell > .second{
    color: white;
    font-size: 30px;
    margin-bottom: 0;
    font-family: "Jersey 15", serif;
    font-weight: 400;
    font-style: normal;
}

.sell > .btn_buying {
    position: relative;
    top: 350px;
    /* right: 260px; */
    font-size: 30px;
    background-color: transparent;
    color:  white;
    border: none;
    margin: 0;
    cursor: pointer;
}

.buy{
    position: relative;
    top: 350px;
    /* right: 260px; */
    font-size: 30px;
    background-color: transparent;
    color:  black;
    border: none;
    cursor: pointer;
}

.go{
    color: #66FCF1;
    position: relative;
    top: 2px;
    left: 5px;
}

.parts{
    object-fit: cover;
    animation: glow 3s ease infinite;
}

.hide{
    display: none;
}

.slideshow{
    position: relative;
    padding: 10px 20px;
}

.slides{
    /* opacity: 0; */
    position: relative;
    animation: flow 3s ease infinite;
    
}

.slides > .sliding {
    /* display: none; */
    width: 100%;
    position: absolute;
    bottom: 0;
    /* left: 38%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: rgb(0,0,0,0.5);
    color: red;
    padding: 0;
    opacity: 0;
    transition: all 0.3s ease;
}

.slides:hover {
    .sliding{
        display: flex;
        opacity: 100%;
        transition: all 0.3s ease;
    }
}

.speak{
    font-size: 50px;
    margin: 0;
    text-align: center;
    color: blanchedalmond;
}

.sleak{
    font-size: 30px;
    color: wheat;
    font-family: "Jersey 15", serif;
    font-weight: 400;
    font-style: normal;
}

.sneak{
    font-size: 40px;
    color: white;
}

.snow{
    color: cyan;
    position: relative;
    left: 4px;
    top: 2px;
}

.slides > img {
    object-fit: cover;
}

.prev,.next{
    color: white;
    font-size: 60px;
    position: absolute;
    top: 40%;
    text-decoration: none;
    /* background-color: white; */
    opacity: 40%;
    cursor: pointer;
}

.prev{
     left: 20px;
}

.next{ 
    right: 20px;
}

.prev:hover{ opacity: 50%;}
.next:hover{ opacity: 50%;}

.feeter{
    color: white;
}

.foot{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.finder{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fast{
    color: wheat;
    text-decoration: none;
}

.fast:hover{
    color: wheat;
    text-decoration: white underline;
}

.social:hover{
    position: relative;
    top: -10px;
    scale: 1.5;
}

@media (min-width: 1300px){
    .Not_Type {
        visibility: hidden;
        opacity: 0;
    }
}

@media (max-width: 1200px ) {
    .seen{
        display: none;
    }
    .hide{
        display: grid;
    }

@media (min-width: 801px) {
    .Not_Type {
        visibility: hidden;
        opacity: 0;
    }
    .Not_Type.show {
        visibility: hidden;
        opacity: 0;
        }
    }

@media (max-width: 800px) {
    .Types{
        display: none;
    }

    .dis{
        display: flex;
    }

    .hide{
        display: none;
    }
    .pantry{
        display: grid;
        grid-template-rows: repeat(6,600px);
        grid-template-columns: auto;
    }

}
  
}

@keyframes scaling{
    50%{transform: scale(1.5,1.5);}
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes glow{
    50%{box-shadow: 0px 0px 2px 2px #66FCF1;}
}

@keyframes flow{
    50%{box-shadow: 0px 0px 2px 5px #66FCF1;}
}